@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Unbounded:wght@700&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');


$primary: #0E0E86;
$secondary: #9E10EA;
$background: #060628;
$light: #E5D1FF;

$small-font: 1rem;
$medium-font: 2rem;
$big-font: 3rem;
$big-font-family: "unbounded";
$handwritten-text: "Caveat";
$small-font-family: 'Noto Sans';
//$small-font-family: 'Vollkorn';

@mixin hover {
  box-shadow: 0 0 10px $light;
  background-color: $light;
  transition: ease-in-out 0.3s;
  color: $secondary;
  cursor: pointer;
}

@mixin center {
display: flex;
justify-content: center;
align-items: center;
}

@mixin pop-up-info {
  background-color: $light;
  max-width: 300px;
  @include center;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  border-radius: 1rem;
  position: absolute;

  p {
    color: $secondary;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 1rem 1rem 1rem;
  }

  #pop-up-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 3px solid $background;
    border-radius: 3rem;
    align-self: flex-end;
    margin: 0.5rem 0.5rem 0;
    padding: 0.5rem;
    @include center;

    &:hover {
      @include hover;
      background-color: $background;
    }

    i {
      color: $background;
      font-weight: bolder;
      font-size: 1.3rem;

      &:hover {
        color: $light;
      }
    }
  }
}

*{
  margin: 0;
  padding: 0;
}

header {
  @include center;
  flex-direction: column;
}

#logo{
  color: $secondary;
  font-size: 5rem;
  font-family: $big-font-family;
  margin-top: 1rem;
}

#logo-s {
  color: $secondary;
  font-size: $medium-font;
  font-family: $big-font-family;
  margin: 1rem 1rem 0 1rem;
}

p{
  color: $light;
  padding: 1rem;
  font-family: $small-font-family;
  font-size: 1.5rem;
}

#go-to-game {
  align-self: center;
  margin: 2rem;
}

.escape-text {
  font-family: $handwritten-text;
  font-size: 3rem;
  padding: 0;
}

.escape-text-s {
  font-family: $handwritten-text;
  font-size: 1.5rem;
  padding: 0;
}


h2 {
  color: $secondary;
  padding: 1rem;
  font-weight: bold;
}

h3 {
  color: $light;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-start;
  padding: 1rem;
}

#video {
  margin: 0 4rem 0 8rem;
}

.menu-btn {
  background-color: $primary;
  color: $secondary; 
  border: none; 
  margin: 0.7rem 0 0.7rem 1rem;
  clip-path: polygon(15% 0%, 90% 0%, 90% 100%, 0% 100%);
  width: 50vw;
  text-decoration: none;
  right: 0px;
  box-shadow: 0 0 10px rgb(14, 14, 14);
  overflow: hidden;

  p {
    color: $secondary;
    font-weight: bold;
    font-size: $big-font;
    font-family: $big-font-family;
    margin: 0;
  }

  &:hover{
    @include hover;
  }
}

#go-back {
  height: 70px;
  width: 70px;
  border: none;
  background-color: $primary;
  border-radius: 3rem;
  margin: 1rem;
  align-self: flex-start;
  box-shadow: 0 0 10px rgb(14, 14, 14);

  &:hover {
    @include hover;
  }

  i {
    color: $secondary;
    font-size: $big-font;
    padding: 0;
    margin: 0;
  }
}

.btn {
  border: none;
  background-color: $primary;
  color: $secondary;
  border-radius: 3rem;
  margin: 1rem;
  font-size: $medium-font;
  font-weight: bold;
  padding: 0.7rem 1rem;
  box-shadow: 0 0 10px rgb(14, 14, 14);

  &:hover {
    @include hover;
  }
}

#questionmark, #pop-up-menu{
  height: 70px;
  width: 70px;
  border: 3px solid $light;
  background-color: transparent;
  border-radius: 3rem;
  margin: 1rem;
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;

  @include center;

  &:hover {
    background-color: $secondary;
    box-shadow: 0 0 10px $light;
    transition: ease-in-out 0.3s;
    cursor: pointer;
  }

  i {
    color: $light;
    font-size: $big-font;
    padding: 0;
    margin: 0;
  }
}

#pop-up-menu {
  right: 100px;
}

#pop-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #060628;
  border: solid 3px $primary;
  padding: 1rem;
  border-radius: 2rem;
  position: absolute;
  top: 120px;
  right: 30px;

  .pop-menu-btn {
    background-color: $primary;
    color: $secondary;
    border: none;
    border-radius: 3rem;
    padding: 2rem 1rem;
    font-family: $big-font-family;
    font-size: $medium-font;
    width: 300px;

    &:hover {
      @include hover;
    }
  }
}

#code-input {
  font-size: $big-font;
  padding: 1rem;
  border-radius: 3rem;
  text-align: center;
  font-weight: bold;
  width: 300px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 5rem 0 0 0;

  &:active {
    border-color: $secondary;
  }
}

body {
  width: 100vw;
  @include center;
  flex-direction: column;
  background-color: $background;
  overflow-x: hidden;

  a:link {
    text-decoration: none;
    align-self: flex-start;
  
    #small-logo {
      max-width: 300px;
      width: 100%;
    }
  }


  nav {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
  }

  .info-block {
    background-color: $primary;
    width: 80vw;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    
    h2 {
      font-size: $big-font;
      text-transform: uppercase;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  
    p {
      color: $light;
    }
  }
  
}

#settings-article {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding-bottom: 5rem;
  justify-content: center;
}

#rules-article {
  padding-bottom: 5rem;
}

#pop-up {
  @include pop-up-info();
  top: 0;
  right: 0;
}

.article {
  @include center;
  flex-direction: column;
  padding: 1rem;

  h2 {
    font-size: 3rem;
  }

  p {
    width: 80%;
  }
}

.task-bubble {
  background-color: $primary;
  border-radius: 2rem;
  max-width: 800px;
  width: 100%;
  margin: 1rem;
  text-align: center;

  p {
    color: $light;
  }
}

.row-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-div {
  display: flex;
  flex-direction: column;
}

video {
  border: 4px solid $secondary;
}

#taskbubbles {
  @include center;
  flex-direction: column;
  margin: 1rem;
}

.taskbutton {
  background-color: $primary;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  color: $light;
  font-size: 1rem;
  font-weight: bold;
  max-width: 120px;
  box-shadow: 0 0 10px rgb(14, 14, 14);

  &:hover {
    box-shadow: 0 0 10px $primary;
  }
}

.chosen-taskbutton {
  background-color: $secondary;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  color: $light;
  font-size: 1rem;
  font-weight: bold;
  max-width: 120px;
  box-shadow: 0 0 10px $secondary;
}

.buttons {
  @include center;
}

.hidden {
  visibility: hidden;
}

#gang {
  width: 600px;
}

.correct-answer {
  color: rgb(40, 189, 40);
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.false-answer {
  color: rgb(243, 42, 42); 
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

#hint-bubble {
  @include pop-up-info();
  right: 140px;
  top: 680px;
}

#hint-btn {
  width: 100px;
  align-self: center;
  position: relative;
}

#current-task {
  align-self: flex-end;
}

.task-alternatives {
  padding: 0.3rem;
}

#setting {
  background-color: $light;
  padding: 0.5rem;
  border-radius: 2rem;
  display: flex;
  gap: 1rem;

  >* {
    border: 2px solid transparent;

    &:hover {
      cursor: pointer;
      border-color: $secondary;
      border-color: $secondary;
    }
  }

  .setting-btn {
    padding: 0.7rem;
    border-radius: 2rem;
    color: $background;
    font-weight: bold;
    background-color: transparent; 
    font-size: 1.3rem;
  }

  .active-setting {
    padding: 0.7rem;
    border-radius: 2rem;
    background-color: $secondary;
    color: $light;
    font-weight: bold;
    box-shadow: 0 0 10px $secondary;
    transition: ease-in-out 0.2s;
    font-size: 1.3rem;
  }
}
